@model IEnumerable<OperationMonitoring.Models.Nomenclature>

@{
    ViewData["Title"] = "Preset";
}
@{
    Preset CurrentPreset = new Preset();
    if (ViewBag.Preset != null)
    {
        CurrentPreset = ViewBag.Preset;
    }
    else
    {
        CurrentPreset.Id = -1;
    }

    Equipment equipment = ViewBag.Equipment;
}

<div class="content-heading content-heading-auto">
    <h4>Add Equipment</h4>
    <h5>Step 2. Select parts of equipment.</h5>
</div>
<!-- GENERAL INFO -->
@{
    ViewData["Controller"] = "Preset";
    <partial name="_EquipmentInfo" model="ViewBag.Equipment" view-data="ViewData" />
}

<!-- SELECTED PARTS -->
<div class="selected-parts">
    <h5>Selected parts:</h5>
    <!-- LATER -
        LOAD PRESET
    -->
    @if (CurrentPreset.PresetItems == null || CurrentPreset.PresetItems.Count == 0)
    {
        <p class="selected-parts__empty">
            Please select items on the list below. DEMO:
        </p>
        <div class="selected-parts__item">
            <div class="selected-parts__left">
                <div class="selected-parts__item-code">
                    vs-code01
                </div>
                <div class="selected-parts__item-provider">
                    ProviderName
                </div>
                <div class="selected-parts__item-title">
                    Title
                    <p>
                        Specification info
                    </p>
                </div>
            </div>
            <div class="selected-parts__right">
                <div class="selected-parts__item-amount">
                    1
                </div>
                <div class="selected-parts__item-btn">
                    <span class="btn btn-remove"></span>
                </div>
            </div>
        </div>
        <div class="selected-parts__item">
            <div class="selected-parts__left">
                <div class="selected-parts__item-code">
                    vs-code01
                </div>
                <div class="selected-parts__item-provider">
                    ProviderName
                </div>
                <div class="selected-parts__item-title">
                    Title
                    <p>
                        <span>Specification.Material</span>
                        <span>Specification.Weight</span>
                        <span>Specification.Height</span>
                        <span>Specification.OperatingTime</span>
                    </p>
                </div>
            </div>
            <div class="selected-parts__right">
                <div class="selected-parts__item-amount">
                    33
                </div>
                <div class="selected-parts__item-btn">
                    <span class="btn btn-remove"></span>
                </div>
            </div>
        </div>
        <div class="selected-parts__item">
            <div class="selected-parts__left">
                <div class="selected-parts__item-code">
                    vs-code01
                </div>
                <div class="selected-parts__item-provider">
                    ProviderName
                </div>
                <div class="selected-parts__item-title">
                    Title
                    <p>
                        <span>Specification.Material</span>
                        <span>Specification.Weight</span>
                        <span>Specification.Height</span>
                        <span>Specification.OperatingTime</span>
                    </p>
                </div>
            </div>
            <div class="selected-parts__right">
                <div class="selected-parts__item-amount">
                    6
                </div>
                <div class="selected-parts__item-btn">
                    <span class="btn btn-remove"></span>
                </div>
            </div>
        </div>
    }
    else
    {
        <p class="selected-parts__empty hidden">
            Please select items on the list below.
        </p>
        foreach (PresetItem item in CurrentPreset.PresetItems)
        {
            <div class="selected-parts__item" data-item="@item.Id">
                <div class="selected-parts__left">
                    <div class="selected-parts__item-code">
                        @item.Nomenclature.VendorCode
                    </div>
                    <div class="selected-parts__item-provider">
                        @if (@item.Nomenclature.Provider != null)
                        {
                            @item.Nomenclature.Provider.Title
                        }
                        else
                        {
                            <span>&lt;Unknown&gt;</span>
                        }
                    </div>
                    <div class="selected-parts__item-title">
                        @item.Nomenclature.Title
                        @if (@item.Nomenclature.Specification != null)
                        {
                            <p>
                                <span>@item.Nomenclature.Specification.Material</span>
                                <span>@item.Nomenclature.Specification.Weight</span>
                                <span>@item.Nomenclature.Specification.Height</span>
                                <span>@item.Nomenclature.Specification.OperatingTime</span>
                            </p>
                        }
                        else
                        {
                            <p>&lt;Unknown Specification&gt;</p>
                        }

                    </div>
                </div>
                <div class="selected-parts__right">
                    <div class="selected-parts__item-amount">
                        @item.Amount
                    </div>
                    <div class="selected-parts__item-btn">
                        <span class="btn btn-remove"></span>
                    </div>
                </div>
            </div>
        }
    }
</div>
<div class="selected-parts__forms">
    <form asp-action="ClearPreset"
          asp-route-equipmentId="@equipment.Id"
          asp-route-presetId="@CurrentPreset.Id">
        <button class="btn btn-alter">Clear List</button>
    </form>
    <div class="selected-parts__forms-right">
        <form id="FormSavePreset" asp-action="SavePreset"
              asp-route-equipmentId="@equipment.Id"
              asp-route-presetId="@CurrentPreset.Id">
            <input type="hidden" name="presetParameters" />
            <button class="btn btn-primary">Save</button>
        </form>
        <form id="FormFinishPreset" asp-action="AssemblePreset"
              asp-route-equipmentId="@equipment.Id"
              asp-route-presetId="@CurrentPreset.Id">
            <input type="hidden" name="presetParameters" />
            <button class="btn btn-primary">Finish Selecting Parts</button>
        </form>
    </div>
    <!-- LATER
        SAVE PRESET
    <form asp-action="SaveTempPreset">
        <h5>Save as preset: </h5>
        <div class="form-group">
            <label class="control-label"></label>
            <input class="form-control" type="text" required />
            <button class="btn btn-primary">Save Preset</button>
        </div>
    </form>
    -->
</div>

<!-- PARTS -->
@{
    ViewData["Controller"] = "Preset";
    <partial name="_Nomenclature" model="Model" view-data="ViewData" />
}

<script>
    $(function () {
        $('.js-get-nomenclature').click(function () {
            var inputValue = $('[name="presetParameters"]').val();
            $('[name="presetParameters"]').val(inputValue + '12');
        });
    });
</script>