@model IEnumerable<OperationMonitoring.Models.Nomenclature>

@{
    ViewData["Title"] = "Preset";
}
@{
    Preset CurrentPreset = new Preset();
    if (ViewBag.Preset != null)
    {
        CurrentPreset = ViewBag.Preset;
    }
    else
    {
        CurrentPreset.Id = -1;
    }

    Equipment equipment = ViewBag.Equipment;
}

<div class="content-heading content-heading-auto">
    <h4>Add Equipment</h4>
    <h5>Step 2. Select parts of equipment.</h5>
</div>
<!-- GENERAL INFO -->
@{
    ViewData["Controller"] = "Preset";
    <partial name="_EquipmentInfo" model="ViewBag.Equipment" view-data="ViewData" />
}

<!-- SELECTED PARTS -->
<div class="selected-parts">
    <h5>Selected parts:</h5>
    <!-- LATER -
        LOAD PRESET
    -->
    @if (CurrentPreset.PresetItems == null || CurrentPreset.PresetItems.Count == 0)
    {
        <p class="selected-parts__empty">
            Please select items on the list below.
        </p>        
    }
    else
    {
        <p class="selected-parts__empty hidden">
            Please select items on the list below.
        </p>
        foreach (PresetItem item in CurrentPreset.PresetItems)
        {
            <div class="selected-parts__item" data-nomenclature="@item.Nomenclature.Id">
                <div class="selected-parts__left">
                    <div class="selected-parts__item-code">
                        @item.Nomenclature.VendorCode
                    </div>
                    <div class="selected-parts__item-provider">
                        @if (@item.Nomenclature.Provider != null)
                        {
                            @item.Nomenclature.Provider.Title
                        }
                        else
                        {
                            <span>&lt;Unknown&gt;</span>
                        }
                    </div>
                    <div class="selected-parts__item-title">
                        @item.Nomenclature.Title
                        @if (@item.Nomenclature.Specification != null)
                        {
                            <p>
                                <span>@item.Nomenclature.Specification.Material</span>
                                <span>@item.Nomenclature.Specification.Weight</span>
                                <span>@item.Nomenclature.Specification.Height</span>
                                <span>@item.Nomenclature.Specification.OperatingTime</span>
                            </p>
                        }
                        else
                        {
                            <p>&lt;Unknown Specification&gt;</p>
                        }

                    </div>
                </div>
                <div class="selected-parts__right">
                    <div class="selected-parts__item-amount">
                        @item.Amount
                    </div>
                    <div class="selected-parts__item-btn">
                        <span class="btn btn-remove"></span>
                    </div>
                </div>
            </div>
        }
    }
</div>
<div class="selected-parts__forms">
    <form asp-action="ClearPreset"
          asp-route-equipmentId="@equipment.Id">
        <button class="btn btn-alter">Clear List</button>
    </form>
    <div class="selected-parts__forms-right">
        <form id="FormSavePreset" asp-action="SavePreset"
              asp-route-equipmentId="@equipment.Id"
              asp-route-assemble="false">
            <input type="hidden" name="presetParameters" />
            <button class="btn btn-primary">Save</button>
        </form>
        <form id="FormFinishPreset" asp-action="SavePreset"
              asp-route-equipmentId="@equipment.Id"
              asp-route-assemble="true">
            <input type="hidden" name="presetParameters" />
            <button class="btn btn-primary">Finish Selecting Parts</button>
        </form>
    </div>
    <!-- LATER
        SAVE PRESET AS
    <form asp-action="SaveTempPreset">
        <h5>Save as preset: </h5>
        <div class="form-group">
            <label class="control-label"></label>
            <input class="form-control" type="text" required />
            <button class="btn btn-primary">Save Preset</button>
        </div>
    </form>
    -->
</div>

<!-- PARTS -->
@{
    ViewData["Controller"] = "Preset";
    <partial name="_Nomenclature" model="Model" view-data="ViewData" />
}

<script>
    $(document).on('click', '.js-get-nomenclature', function () {
        var nomenclature = $(this).attr("data-id");
        var amount = $("input[name=input-" + nomenclature + "]").val();
        $("input[name=input-" + nomenclature + "]").val("");
        var vendorcode = $(this).closest("tr").find(".vendor").html();
        var info = $(this).closest("tr").find(".info").html();
        var provider = $(this).closest("tr").find(".provider").html();

        if (amount !== "") {
            if (!$("[data-nomenclature=" + nomenclature + "]").length) {
                $(".selected-parts").append(
                    '<div class="selected-parts__item" data-nomenclature="' + nomenclature + '">' +
                    '<div class="selected-parts__left">' +
                    '<div class="selected-parts__item-code">' +
                    '</div>' +
                    '<div class="selected-parts__item-provider">' +
                    '</div>' +
                    '<div class="selected-parts__item-title">' +
                    '</div >' +
                    '</div>' +
                    '<div class="selected-parts__right">' +
                    '<div class="selected-parts__item-amount">' +
                    '</div>' +
                    '<div class="selected-parts__item-btn">' +
                    '<span class="btn btn-remove"></span>' +
                    '</div>' +
                    '</div>' +
                    '</div>'
                );
                $item = $("[data-nomenclature=" + nomenclature + "]");
                $item.find(".selected-parts__item-code").append(vendorcode);
                $item.find(".selected-parts__item-provider").append(provider);
                $item.find(".selected-parts__item-title").append(info);
            }
            $inputValue = $("[data-nomenclature=" + nomenclature + "]").find(".selected-parts__item-amount");
            if ($inputValue.html() !== "") {
                $inputValue.html(parseInt($inputValue.html()) + parseInt(amount));
            }
            else {
                $inputValue.html(parseInt(amount));
            }            
            $(".selected-parts__empty").addClass("hidden");
        }
    });
    $(document).on('click', '.btn-remove', function () {
        $(this).closest(".selected-parts__item").remove();
    });

    $("#FormSavePreset, #FormFinishPreset").submit(function () {
        var PartsList = [];
        $(".selected-parts__item").each(function () {
            var nomenclature = $(this).attr("data-nomenclature");
            var amount = $(this).find(".selected-parts__item-amount").html();
            PartsList.push({
                Nomenclature: nomenclature,
                Amount: amount,
            });
        });
        var paramString = JSON.stringify(PartsList);
        $("[name=presetParameters]").val(paramString);
        return true;
    });

</script>