@inject SignInManager<IdentityUser> signInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OperationMonitoring</title>
    <link rel="stylesheet" href="~/lib/vakata-jstree-6dce227/dist/themes/default/style.min.css" />
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/jquery-simple-pagination-plugin.js"></script>
    <script src="~/lib/vakata-jstree-6dce227/dist/jstree.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <div class="main">
        <div class="main-column__left">
            <div class="main-column__left-inner navigation-open">
                <!-- later - remember user settings for navigation? -->
                <!-- HEADER -->
                <header class="header">
                    <h1 class="header-letter">W</h1>
                    <h1 class="header-heading">Weatherford</h1>
                </header>
                <div class="nav-fold">
                    <span class="nav__icon"><i></i></span>
                </div>
                <div class="nav">
                    <div class="nav__container">
                        @*<div class="nav-item">
                                <form method="post" asp-action="logout" asp-controller="account">
                                    <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                        Logout @User.Identity.Name
                                    </button>
                                </form>
                            </div>*@
                            @if (signInManager.IsSignedIn(User))
                            {
                        <a asp-controller="Equipment" asp-action="Index" class="nav__item">Equipment</a>
                        <a asp-controller="Assemblies" asp-action="Index" class="nav__item">Assemblies</a>
                        <a asp-controller="Counterparties" asp-action="Index" class="nav__item">Counterparties</a>
                        <a asp-controller="Providers" asp-action="Index" class="nav__item">Providers</a>
                        <a asp-controller="Nomenclature" asp-action="Index" class="nav__item">Nomenclature</a>
                        <a asp-controller="Storages" asp-action="Index" class="nav__item">Storages</a>
                        <a asp-controller="Orders" asp-action="Index" class="nav__item">Orders</a>
                        <a asp-controller="Maintenance" asp-action="Index" class="nav__item">Maintenance</a>
                        <a class="nav__item dropdown-btn ">
                            NRI panel
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <div class="dropdown-container">
                            <a class="nav__item" href="#">Departments</a>
                            <a class="nav__item" href="#">Equipment types</a>
                            <a class="nav__item" href="#">Equipment categories</a>
                        </div>
                        <hr />
                        @if (User.IsInRole("Admin"))
                        {
                             <a class="nav__item" asp-controller="Admin" asp-action="AdminPanel">Admin Panel</a>
                        }
                            <a class="nav__item" asp-controller="Account" asp-action="ChangePassword">
                                Password
                            </a>
                            <a class="nav__item" asp-controller="Account" asp-action="EditProfile">
                                Profile
                            </a>
                            
                        <hr />
                        <a asp-controller="Settings" asp-action="Index" class="nav__item">Settings</a>
                            }
                      
                          @if (User.Identity.IsAuthenticated)
                        {  
                    <div class="nav-item">
                        <form method="post" asp-action="logout" asp-controller="account">
                            <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                Logout @User.Identity.Name
                            </button>
                        </form>
                    </div>
                        }
                        else
                        {
                            <a class="nav__item" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            <a class="nav__item" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="main-column__center">
            <!-- CONTENT -->
            <div class="content">
                <div class="container">

                    @RenderBody()

                </div>
            </div>

            <!-- FOOTER -->
            <footer class="footer">
                <p class="footer-copyright">
                    &copy; 2020 - Infocom LTD
                </p>
            </footer>
        </div>

    </div>

    @RenderSection("Scripts", required: false)

    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>