@{
    ViewData["Title"] = "AdminPanel";
}

    <div class="container">
        <h2 style="font-size:60px"> Admin Panel </h2>
        <hr />
        <div class="tab">
            <button class="textStyle tablinks active" onclick="openCity(event, 'Users')">List Users</button>
            <button class="textStyle tablinks" onclick="openCity(event, 'Roles')">List Roles</button>
            <button class="textStyle tablinks" onclick="openCity(event, 'Employees')">List Employees</button>
        </div>
    </div>

    <div class="container">
        <div>
           Time =  @ViewBag.TotalTime
        </div>
        @{
            IEnumerable<IdentityUser> identityUser = ViewBag.IdentityUsers;
            IEnumerable<IdentityRole> identityRoles = ViewBag.IdentityRoles;
            IEnumerable<Employee> Employee = ViewBag.Employee;
                <div id="Users" class="tabcontent">
                    <h1 class="hia">All Users</h1>
                    @if (identityUser.Any())
                    {
                        <a asp-action="Register" asp-controller="Account" class="btn btn-primary mb-3" style="width:auto">Add new user</a><hr /><br />
                        foreach (var user in identityUser)
                        {
                <div class="card mb-3">
                    
                       <input type="hidden" value="@user.Id"/> 
                   
                    <div class="card-body">
                        <h5 class="card-title hiaText">@user.UserName</h5>
                    </div>  
                    <div class="card-body">
                        <h5 class="card-title hiaText">@user.Email</h5>
                    </div>
                    <div class="card-footer">
                        <form method="post" asp-action="DeleteUser" asp-controller="Admin" asp-route-id="@user.Id">
                            <a asp-controller="Admin" asp-action="Edituser" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>

                            <div class="container" id="confirmDeleteSpan_@user.Id" style="display:none;">
                                <div style="margin-top:20px">
                                    <span style="font-size:20px">Are you sure you want to delete?</span>
                                </div>
                                <div style="margin-bottom:50px">
                                    <button type="submit" class="btn btn-primary buttonStyle">Yes</button>
                                    <button type="button" class="btn btn-primary buttonStyle" onclick="confirmDelete('@user.Id', false)">No</button>
                                </div>
                            </div>

                            <span id="deleteSpan_@user.Id">
                                <button type="button" class="btn btn-primary widthButton" onclick="confirmDelete('@user.Id', true)">Delete</button>
                            </span>
                        </form>
                    </div>
                     </div>
                            <br /><br /><hr />
                        }
                    }
                    else
                    {
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">
                                    No users created yet
                                </h5>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    Use the button below to create a user
                                </h5>
                                <a class="btn btn-primary" style="width:auto"
                                   asp-controller="Account" asp-action="Register">
                                    Add new user
                                </a>
                            </div>
                        </div>
                    }
                </div>

                <div id="Roles" class="tabcontent">
                    <h1 class="hia">All Roles</h1>
                    @if (identityRoles.Any())
                    {
                        <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole" asp-controller="admin">Add new role</a><hr /><br />
                        foreach (var role in identityRoles)
                        {
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title hiaText">@role.Name</h5>
                                </div>
                                <form asp-action="DeleteRole" asp-controller="admin" asp-route-id="@role.Id" method="post">
                                    <a asp-action="EditRole" asp-controller="admin" asp-route-id="@role.Id" class="btn btn-primary">Edit</a>
                                    <div class="container" id="confirmDeleteSpan_@role.Id" style="display:none;">
                                        <div style="margin-top:20px">
                                            <span style="font-size:20px">Are you sure you want to delete?</span>
                                        </div>
                                        <div style="margin-bottom:50px">
                                            <button type="submit" class="btn btn-primary buttonStyle">Yes</button>
                                            <button type="button" class="btn btn-primary buttonStyle" onclick="confirmDelete('@role.Id', false)">No</button>
                                        </div>
                                    </div>

                                    <span id="deleteSpan_@role.Id">
                                        <button type="button" class="btn btn-primary widthButton" onclick="confirmDelete('@role.Id', true)">Delete</button>
                                    </span>
                                </form>
                            </div>
                            <br /><br /><hr />
                        }
                    }
                    else
                    {
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">
                                    No roles created yet
                                </h5>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    Use the button below to create a role
                                </h5>
                                <a class="btn btn-primary" style="width:auto" asp-controller="admin" asp-action="CreateRole">Create Role</a>
                            </div>
                        </div>
                    }
                </div>


            <div id="Employees" class="tabcontent">
                <h1 class="hia">List Employees</h1>
                <a asp-action="Create" asp-controller="Employee" class="btn btn-primary col-md-12">Create new employee</a>
                <hr />
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Patronymic </th>
                            <th>FullName</th>
                            <th>BirthDate</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Employee)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Patronymic)</td>
                                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                                <td>@Html.DisplayFor(modelItem => item.BirthDate)</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", "Employee", new { id = item.EncryptedId }, new { @class = "btn btn-primary bs" })
                                    @Html.ActionLink("Details", "Details", "Employee", new { id = item.EncryptedId }, new { @class = "btn btn-primary bs" })
                                    @Html.ActionLink("Delete", "Delete", "Employee", new { id = item.EncryptedId }, new { @class = "btn btn-primary bs" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        }
    </div>




@section Scripts{
    <script type="text/javascript">
        document.getElementById('Users').style.display = "block";
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
    <script src="~/js/site.js"></script>
}

<style>
    .buttonStyle {
        width:49%;
        float:left; 
        margin-right:10px
    }
    .hia {
        font-family: 'Open Sans';
        font-size: 50px;
    }

    .hiaText {
        font-family: 'Open Sans';
        font-size: 35px;
    }
    .textStyle{
        width:33.3333%;
        font-size:20px;
        font-family: 'Open Sans';
        font-weight:bold;
    }

    .bs{
        width:31%;
        height:30px
    }

    .widthButton {
        width:100%
    }

    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

    .tab button:hover {
        background-color: #ddd;
    }

    .tab button.active {
        background-color: #ccc;
    }

    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>

